packaging_format = 2

id = "psitransfer"
name = "PsiTransfer"
description.en = "Simple file sharing solution"
description.fr = "Solution simple de partage de fichiers"

version = "2.3.0~ynh1"

maintainers = []

[upstream]
license = "BSD-2-Clause"
website = "https://psi.cx/tags/PsiTransfer"
admindoc = "https://github.com/psi-4ward/psitransfer/tree/master/docs"
code = "https://github.com/psi-4ward/psitransfer"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "50M"
ram.build = "1000M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/psitransfer"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.password]
    help.en = "The password is used to allow access to uploads and admin panel."
    help.fr = "Le mot de passe est utilisé pour autoriser l'accès aux téléchargements et au panneau d'administration."
    type = "password"

[resources]
        [resources.sources.main]
        url = "https://github.com/psi-4ward/psitransfer/archive/refs/tags/v2.3.0.tar.gz"
        sha256 = "b5a6d2e9e5bfa9de9dc14fd2d2ab477ff080ddcd5c4175be3d83471ab9539e2a"
        autoupdate.strategy = "latest_github_tag"

    [resources.ports]

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.nodejs]
    version = "22"
